<div class="container-fluid primary-color text-white text-center mb-2 py-2 d-flex align-items-center">
<a href="<%= groups_path %>">
  <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" transform="rotate(0)matrix(1, 0, 0, -1, 0, 0)">
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#ffffff" stroke-width="0.048"></g>
    <g id="SVGRepo_iconCarrier">
      <path d="M4 12H20M4 12L8 8M4 12L8 16" stroke="#ffffff" stroke-width="1.44" stroke-linecap="round" stroke-linejoin="round"></path>
    </g>
  </svg>
  </a>
  <h2 class="text-center flex-grow-1">Create a new transaction</h2>
</div>

<div class="container-fluid w-100 d-flex flex-column align-items-center mt-5">
  <%= form_with model: @entity, url: entities_path, method: :post, :html => {:class => "w-75 mt-4"} do |form| %>
    <div class="form-floating mb-3 w-100">
      <%= form.text_field :name, class:"form-control", id:"floatingInput", placeholder:"Transaction name", required: true %>
      <%= form.label :name, 'Name', class: "form-label" %>
    </div>
    <div class="form-floating mb-3 w-100">
      <%= form.number_field :amount, class:"form-control", id:"floatingInput", placeholder:"Transaction amount", required: true %>
      <%= form.label :amount, 'Amount', class: "form-label" %>
    </div>
    <%= form.label :group_id, 'Please select a category (ctrl+click for multiple selection):', class: "form-label" %>
    <%= form.select :group_id, Group.order(:name).where(user:current_user).pluck(:name, :id), {}, {:multiple => true, required:true, :id => "groups", :class => "form-select mb-3" } %>
    <%= form.submit 'Create transaction', class: "btn green btn-outline-info text-white" %>
  <% end %>
</div>