<div class="create-group-nav">
  <a href="<%= groups_path %>">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <h2>Create a new transaction</h2>
</div>

<div class="transaction-form-cont">
  <%= form_with model: @entity, url: group_entities_path, method: :post, :html => {:class => "w-75 mt-4"} do |form| %>

    <div class="input-cont">
      <%= form.text_field :name, class:"form-input", id:"floatingInput", placeholder:"Name", required: true %>
    </div>

    <div class="input-cont">
      <%= form.number_field :amount, class:"form-input", id:"floatingInput", placeholder:"Amount", required: true %>
    </div>

    <%= form.label :group_id, 'Please select a category (ctrl+click for multiple selection):', class: "form-label" %><br/>
    <%= form.select :group_id, Group.order(:name).where(author:current_user).pluck(:name, :id), {}, {:multiple => true, required:true, :id => "groups", :class => "form-input" } %><br/>
    <%= form.submit 'Create transaction', class: "create-btn" %>
  <% end %>
</div>