<div class="title-cont">
  <a href="<%= groups_path %>">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <h2>Groups</h2>
</div>

<div class="show-group-cont">
<div class="show-group-cont-single">
  <div class="show-group-cont-single-2">
    <div class="group-header">
      <img src=<%= @group.icon %> class="group-icon me-4" alt="group icon">
      <h5 class="card-title group-name fs-5 stretched-link"><%=@group.name%></h5>
    </div>
    <ul>
      <% unless @entities.empty? %>
        <% @entities.each_with_index do |expense, index| %>
          <li class="transaction-list-cont">
            <div class="transac">
              <p class="transaction-title">Transaction N*<%=index + 1%>: <%=expense.name%></p>
              <p class="transaction-time">
                <i class="fa-regular fa-calendar"></i>
                <%=expense.created_at.strftime("%d %b %Y")%> at <%=expense.created_at.strftime("%I.%M %p")%>
              </p>
            </div>
            <p class="amount"><span>Amount:</span> <span>$<%=expense.amount%></span></p>
          </li>
        <% end %>
      <% else %>
        <li class="list-group-item gray-text">You don't have transactions here yet.</li>
      <% end %>
    </ul>
  </div>
</div>
<div class="add-group-container scan-butn"> 
  <h5><%= link_to 'SCAN', new_entity_path, class: "add-group-btn" %></h5>
</div>
</div>